    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 5px;
    }
    
    p{
        color:blue !important;
        background-color: yellow;
        }

    #contenedor{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    
    #libro {

        margin: auto;
        float: left;
        position: relative;
        width: 25%;
        border: steelblue solid 3px;
        height: 400px;
        
                
    }


    h2:hover {
        transform: scale(100%);
        transition: all 0.5s;
        font-size:30px;
    }
    
    img  {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        object-fit:cover; 
    }

    

    img:active {
        /*box-shadow: 3px 3px red, -1em 0 0.4em olive;*/
        box-shadow: 20px 15px 15px black;
        filter: grayscale(100%);
    }


    h1 {
        display: none;
    }
    
    
    @media screen and (max-width: 800px) and (min-width: 500px) {
      
            #libro {
                display: none;
            }

            h1{
                display: block;
                width: 100%;
                color: orangered;
                font-family: sans-serif;
                }

    }

    #contenedor:active{
        flex-direction: row-reverse;
    }

    
    
    

    
