        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 5px;
    }
    
    #libro {
                margin-right: 50px;
                float: left;
                position: relative;
                width: 25%;
                border: steelblue solid 3px;
                height: 400px;
                
            }
    
     img  {
                margin: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                
            }
    
    
    @media screen and (max-width: 800px) and (min-width: 500px) {
      
                #libro {
                    display: none;
                }
    }
    
    p{
    color:blue !important;
    background-color: yellow;
    }