/*#libro {
			background-color:pink;
            overflow: scroll;
            min-height: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }*/
* {
        box-sizing: border-box;
        padding: 0px;
        margin: 5px;
}

#libro {
            padding-left: 10px;
            padding-top: 10px;
            margin-left: 57px;
            float: left;
            position: relative;
            width: 25%;
            border: steelblue solid 3px;
            height: 300px;
        }




@media screen and (max-width: 500px) and (min-width: 300px) {
  
            #libro {
                display: none;
        
            }
            .ref::before {
                font-weight: negrita;
                color: navy;
                content: "Reference: ";
              }
}
.autor {
        color:blue !important;
        background-color: yellow;
        width: 90%;
        margin-right: 30px;
}

.titulo {
    width: 100%;
}





