p {
    color:blue !important;
    background-color:yellow;
}

#uno {
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
}

#dos {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

h2:hover {
    font-size: 28px;
}

@media screen and (max-width: 300px) {
    * {
        visibility: hidden;
    }
}